<!-- <app-navbar></app-navbar> -->
<main class="container">
  <section>
    <h2>AGREGAR DATOS DE ENVIO</h2>
    <form action="" class="mt-4 animated slideInLeft"  #formulario="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="">Apellido y Nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="objFlores.Apellido" name="Apellido"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="">Direccion de Destino</label>
            <input type="text" class="form-control" required [(ngModel)]="objFlores.Nombre" name="Nombre"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="">Referencia de Direccion</label>
            <input type="text" class="form-control" required [(ngModel)]="objFlores.email" name="email"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="">Telefono de Referencia</label>
            <input type="text" class="form-control" required [(ngModel)]="objFlores.email" name="email"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="">Dedicatoria</label>
            <input type="text" class="form-control" required [(ngModel)]="objFlores.email" name="email"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="">edad</label>
            <input type="text" class="form-control" required [(ngModel)]="objFlores.edad" name="edad"/>
          </div>
        </div>
      </div>
      <div class="form-group">
          <button type="submit" class="btn  btn-s btn-primary" [disabled]="!formulario.valid" (click)="agregarProducto()"><i class="fas fa-save">Guardar</i></button>
      </div>
    </form>

  </section>
</main>
