<!--  -->
<!--  -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form action="" class="mt-4 animated slideInLeft" #formularito="ngForm">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="">id</label>
                  <input type="text" class="form-control" required [(ngModel)]="objFlores.id" name="id" disabled />
                </div>
                <div class="col-md-6">
                  <label for="">Apellido y Nombres</label>
                  <input type="text" class="form-control" required [(ngModel)]="objFlores.Apellido" name="Apellido" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Nombre</label>
                  <input type="text" class="form-control" required [(ngModel)]="objFlores.Nombre" name="Nombre" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label for="">email</label>
                  <input type="text" class="form-control" required [(ngModel)]="objFlores.email" name="email" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label for="">edad</label>
                  <input type="text" class="form-control" required [(ngModel)]="objFlores.edad" name="edad" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn  btn-small btn-danger" [disabled]="!formularito.valid"
                (click)="guardarCambios()"><i class="fas fa-save">Guardar</i></button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<main class="container mt-5">
  <div>
    <div class="alert alert-success text-center" role="alert" *ngIf="!formulario">
      <h4 class="alert-heading">Cargando..</h4>
      <p>
        <i class="fa fa-refresh fa-3x fa-spin" aria-hidden="true"></i>
      </p>
    </div>
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
      </div>
    </div>
    <div *ngIf="formulario" class="animated slideInLeft">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>email</th>
            <th>Edad</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let f of formulario | filter:filterPost">
            <td>{{ f.id }}</td>
            <td>{{ f.Apellido }}</td>
            <td>{{ f.Nombre }}</td>
            <td>{{ f.email }}</td>
            <td>{{ f.edad }}</td>
            <td style="display: flex;">
              <button class="btn btn-danger" (click)="eliminar(f.id)">
                <i class="fas fa-trash"></i>
              </button>

              <button class="btn btn-secondary ml-2" (click)="abrirModalEditar(f.id)">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button class="btn btn-dark btnCrear animated bounce infinite slow" (click)="CrearProducto()">
    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
  </button>
</main>