<h1 style="color: mintcream;">PROMOCIONES DEL MES</h1>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="../imagenes/img2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Promocion Nro. 1</h5>
                <p class="card-text">Capaz de conmover a tu persona favorita, regala sonrisas con este tierno detalle en
                    el que las Rosas blush son protagonistas con su particular color combinado con la mas selecta clase
                    de flores hornamentales combinadas con hojas de coprosma que atrapan perfectamente a un tierno oso
                    de peluche que le da el encanto necesario para dar la mas preciada e inesperada sorpresa.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="../imagenes/img3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Promocion Nro. 2</h5>
                <p class="card-text">Elegante base de vidrio decorada con 2 rosas, 2 Gerberas y flores variadas</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="../imagenes/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Promocion Nro. 3</h5>
                <p class="card-text">Elegante presentacion de iluminadas rosas amarillas acompañadas por astromelias y
                    brillantes hojas de gardenia que presentan finamente una bottela de vino Mont Cabernet Sauvignon
                    Merlot, dando un toque de sofisticacion al arreglo, listo para ser enviado para cualquier ocasion,
                    siendo acertados y sobre todo dando la mejor impresion que sorprendera a quien lo reciba..</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="../imagenes/img5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Promocion Nro. 4</h5>
                <p class="card-text">*El color de las rosas puede cambiar segun disponibilidad
                    *El modelo del Vino puede cambiar segun disponibilidad
                    *El modelo de la base puede cambiar segun disponibilidad</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="../imagenes/img6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Promocion Nro. 5</h5>
                <p class="card-text">3 Rosas en fina taza de cerámica + Ibérica 25Gr + Globo # 9
                    Incluye una rosa con mensaje estándar ( I love you) (Te amo) y detalles de corazón en 2 rosas</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="../imagenes/img7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Promocion Nro. 6</h5>
                <p class="card-text">Encantador y lujoso, Box Premium es el regalo perfecto para quien hace especial tu
                    vida. Más completo, fabuloso y duradero, este arreglo aporta elegancia y encanto a cualquier
                    ocasión.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>